table {
    text-align: center;
    border: 0px
}
.td-color1{
    background-color: yellowgreen
}
.td-color2{
    background-color: lightblue
}
.td-color3 {
    background-color: blanchedalmond
    
}